{% extends "home.html" %}
{% load custom_filters %}
{% block title %}Jobs{% endblock %}

{% block content %}

<div class="m-5 flex justify-between">

  <div class="ml-5 text-2xl">
  <span>Jobs</span>
  </div>

  <div class="mr-5 mt-1">
  <a href="{% url 'add_object' 'job' %}" class="bg-green-500 hover:bg-green-600 mt-2 p-2 rounded">New Job</a>
  </div>

</div>

{% if output %}

<div class="mx-10">
  <table id="job_list_table" class="table-auto w-full divide-y divide-gray-700 bg-gray-800 text-white">
    <thead>
      <tr>
        {% for header in column_headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in output %}
        <tr onclick="window.location='{% url 'view_job' item.id %}'" class="hover:bg-gray-700 cursor-pointer odd:bg-gray-800 even:bg-gray-900">
          {% for field in object_fields %}
          <td>
            <div class="flex items-center">
              {% with status=item|get_attr:field %}
                {% if status %}
                  {% if status == 'Canceled' %}
                    <div class="w-3 h-3 bg-gray-300 rounded-full mr-2 flex-shrink-0"></div>
                  {% elif status == 'Completed' %}
                    <div class="w-3 h-3 bg-green-300 rounded-full mr-2 flex-shrink-0"></div>
                  {% elif status == 'Context exceeded' or status == 'Failed' %}
                    <div class="w-3 h-3 bg-red-500 rounded-full mr-2 flex-shrink-0"></div>
                  {% elif status == 'Pending' %}
                    <div class="w-3 h-3 bg-yellow-300 rounded-full mr-2 flex-shrink-0"></div>
                  {% elif status == 'Running' %}
                    <div class="w-3 h-3 bg-blue-300 rounded-full mr-2 flex-shrink-0"></div>
                  {% endif %}
                {% endif %}
              {% if field == "created_at" %}
                <span>{{ item|get_attr:field|date:"Y-m-d H:i:s" }}</span>
              {% else %}
                <span>{{ item|get_attr:field }}</span>
              {% endif %}
            </div>
          </td>
          {% endwith %}
          {% endfor %}
          <td>
            <div class="flex space-x-2">
              {% if item.status == "Running" or item.status == "Pending" %}
                <form method="post" action="{% url 'cancel_job' job_id=item.id %}">
                  {% csrf_token %}
                  <button type="submit" class="bg-red-500 hover:bg-red-600 mt-2 p-2 rounded">Cancel</button>
                </form>
              {% endif %}
              {% if item.status == "Canceled" or item.status == "Failed" or item.status == "Context exceeded" %}
                <a class="bg-blue-500 hover:bg-blue-600 mt-2 p-2 rounded" href="{% url 'retry_job' item.id %}">Retry</a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    <tbody>
  </table>

</div>
{% else %}
  <div class="flex flex-col items-center mt-10">
    <p class="text-lg text-gray-400">No jobs available. You can create a new job by clicking the button below.</p>
    <a href="{% url 'add_object' 'job' %}" class="bg-green-500 hover:bg-green-600 mt-2 p-2 rounded">Create New Job</a>
  </div>
{% endif %}

<!-- Use DataTable to prettify and format the table. -->
<script>
  $(document).ready( function () {
      $('#job_list_table').DataTable();
  } );
</script>

{% endblock %}
