{% extends "home.html" %}
{% load custom_filters %}
{% block title %}{{ object_name }}{% endblock %}

{% block content %}

<div class="ml-10 mt-5">
<a href="{% url 'add_object' object_name.split|join:'_'|lower %}" class="button border-b-4 border-transparent hover:border-b-green-500">New {{ object_name }}</a>
</div>

{% if output %}

<div class="mx-10">
  <table id="object_list_table">
    <thead>
      <tr>
        {% for header in column_headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}

        {% if object_name != "Job" %}
        <th scope="col">Delete</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for item in output %}

        <tr onclick="window.location='{% url 'edit_object' object_name.split|join:'_'|lower item.id %}'" style="cursor: pointer;">

          {% for field in object_fields %}
          <td>
            <div class="flex items-center">
              <span>{{ item|get_attr:field }}</span>
            </div>
          </td>
          {% endfor %}
          <td><a href="{% url 'delete_object' object_name.split|join:'_'|lower item.id %}" class="button">delete</a></td>
        </tr>
      {% endfor %}
    <tbody>
  </table>

</div>
{% else %}

  {% if object_name == "LLM API" %}
    <p>No {{ object_name }}s available</p>
  {% else %}
    <p>No {{ object_name | title}}s available</p>
  {% endif %}

{% endif %}

<!-- Use DataTable to prettify and format the table. -->
<script>
  $(document).ready( function () {
      $('#object_list_table').DataTable();
  } );
</script>

{% endblock %}
