{% extends "home.html" %}
{% load custom_filters %}
{% block title %}{{ object_name }}{% endblock %}

{% block content %}

<div class="m-5 flex justify-between">

  <div class="ml-5 text-2xl">
  <span>{{ object_name }}s</span>
  </div>

  <div class="mr-5 mt-1">
  <a href="{% url 'add_object' object_name.split|join:'_'|lower %}" class="bg-green-500 hover:bg-green-600 mt-2 p-2 rounded">Add {{ object_name }}</a>
  </div>

</div>

{% if output %}

<div class="mx-10">
  <table id="object_list_table" class="table-auto w-full divide-y divide-gray-700 bg-gray-800 text-white">
    <thead>
      <tr>
        {% for header in column_headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}

        {% if object_name != "Job" %}
        <th scope="col"></th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for item in output %}

        <!-- Make table rows clickable and highlight when mouseover -->
        <tr onclick="window.location='{% url 'edit_object' object_name.split|join:'_'|lower item.id %}'" class="hover:bg-gray-700 cursor-pointer odd:bg-gray-800 even:bg-gray-900">

          {% for field in object_fields %}
          <td>
            <div class="flex items-center">

              <!-- Properly mask sensitive or password fields -->
              {% if field == "password" or field == "api_key" %}
                <span>******</span>

              <!-- Propery format date fields -->
              {% elif field == "created_at" %}
                <span>{{ item|get_attr:field|date:"Y-m-d H:i:s" }}</span>
              {% else %}
                <span>{{ item|get_attr:field }}</span>
              {% endif %}

            </div>
          </td>
          {% endfor %}
          <td><button class="bg-red-500 hover:bg-red-600 mt-2 p-2 rounded" onclick="event.stopPropagation(); showConfirmationPopup('{{ object_name }}', '{% url 'delete_object' object_name.split|join:'_'|lower item.id %}')">Delete</button></td>
        </tr>
      {% endfor %}
    <tbody>
  </table>

</div>
{% else %}

  <div class="flex flex-col items-center m-10 p-4 border-4 border-gray-600 rounded-lg">
    <p class="text-lg">No {{ object_name }}s available. You can create a new {{ object_name }} by clicking the button above.</p>
  </div>

{% endif %}

<!-- Use DataTable to prettify and format the table. -->
<script>
  $(document).ready( function () {
      $('#object_list_table').DataTable();
  } );
</script>

{% endblock %}
