{% extends "home.html" %}
{% load custom_filters %}
{% block title %}{{ object_name }}{% endblock %}

{% block content %}

<div class="m-5 flex justify-between">

  <div class="ml-5 text-2xl">
  <span>{{ object_name }}s</span>
  </div>

  <div class="mr-5 mt-1">
  <a href="{% url 'add_object' object_name.split|join:'_'|lower %}" class="button mt-2 p-1.5 border-2 rounded-lg border-green-500 hover:bg-green-500">Add {{ object_name }}</a>
  </div>

</div>

{% if output %}

<div class="mx-10">
  <table id="object_list_table" class="table-auto w-full divide-y divide-gray-700 bg-gray-800 text-white">
    <thead>
      <tr>
        {% for header in column_headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}

        {% if object_name != "Job" %}
        <th scope="col">Delete</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for item in output %}

        <tr onclick="window.location='{% url 'edit_object' object_name.split|join:'_'|lower item.id %}'" class="hover:bg-gray-700 cursor-pointer odd:bg-gray-800 even:bg-gray-900">

          {% for field in object_fields %}
          <td>
            <div class="flex items-center">
              <span>{{ item|get_attr:field }}</span>
            </div>
          </td>
          {% endfor %}
          <td><a href="{% url 'delete_object' object_name.split|join:'_'|lower item.id %}" class="button">delete</a></td>
        </tr>
      {% endfor %}
    <tbody>
  </table>

</div>
{% else %}

  {% if object_name == "LLM API" %}
    <p>No {{ object_name }}s available</p>
  {% else %}
    <p>No {{ object_name | title}}s available</p>
  {% endif %}

{% endif %}

<!-- Use DataTable to prettify and format the table. -->
<script>
  $(document).ready( function () {
      $('#object_list_table').DataTable();
  } );
</script>

{% endblock %}
