{% extends "ssherlock_server/objects/object.html" %}

{% block table_column_headers %}
<th scope="col">Name</th>
<th scope="col">Username</th>
<th scope="col">Password</th>
{% endblock %}

{% block table_rows %}
  {% for item in output %}
    <tr>
      <th scope="row">{{ item.credential_name }}</th>
      <td>{{ item.username }}</td>
      <td>{{ item.password }}</td>
      <td><a href="edit/{{ object_name.split | join:"_" | lower}}/{{ item.id }}" class="button">edit</a></td>
      <td><a href="delete/{{ object_name.split | join:"_" | lower}}/{{ item.id }}" class="button">delete</a></td>
    </tr>
  {% endfor %}
{% endblock %}
