{% extends "ssherlock_server/home.html" %}
{% block title %}{{ object_name }}{% endblock %}

{% block content %}

<a href="add/{{ object_name.split | join:"_" | lower}}" class="button">New {{ object_name }}</a>

{% if output %}

  <table>
    <thead>
      <tr>
        {% block table_column_headers %}
        {% endblock %}
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% block table_rows %}
      {% endblock %}
  </table>

{% else %}

  {% if object_name == "LLM API" %}
    <p>No {{ object_name }}s available</p>
  {% else %}
    <p>No {{ object_name | title}}s available</p>
  {% endif %}

{% endif %}

{% endblock %}
