{% extends "ssherlock_server/home.html" %}
{% load custom_filters %}
{% block title %}{{ object_name }}{% endblock %}

{% block content %}

<a href="add/{{ object_name.split | join:"_" | lower}}" class="button">New {{ object_name }}</a>

{% if output %}

  <table id="object_list_table">
    <thead>
      <tr>
        {% for header in column_headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        {% if object_name == "Job" %}
          <th scope="col">Retry</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in output %}
        <tr>
          {% for field in object_fields %}
          <td>{{ item|get_attr:field }}</td>
          {% endfor %}
          {# Jobs can't be edited or deleted, so don't show the edit button for them #}
          {#% if object_name != "Job" %#}
            <td><a href="edit/{{ object_name.split | join:"_" | lower}}/{{ item.id }}" class="button">edit</a></td>
            <td><a href="delete/{{ object_name.split | join:"_" | lower}}/{{ item.id }}" class="button">delete</a></td>
          {#% endif %#}
          {# Jobs get a "retry" button. #}
          {% if object_name == "Job" %}
            <td><a href="retry/job/{{ item.id }}" class="button">retry</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    <tbody>
  </table>

{% else %}

  {% if object_name == "LLM API" %}
    <p>No {{ object_name }}s available</p>
  {% else %}
    <p>No {{ object_name | title}}s available</p>
  {% endif %}

{% endif %}

<script>
  {% comment %} Use DataTable to prettify and format the table. {% endcomment %}
  $(document).ready( function () {
      $('#object_list_table').DataTable();
  } );
</script>

{% endblock %}
