{{ ansible_managed | comment }}
path-exclude /usr/share/alsa/*
path-exclude /usr/share/applications/*
path-exclude /usr/share/awk/*
path-exclude /usr/share/bug/*
path-exclude /usr/share/common-licenses/*
path-exclude /usr/share/doc-base/*
path-exclude /usr/share/doc/*
path-exclude /usr/share/fonts/*
path-exclude /usr/share/gitweb/*
path-exclude /usr/share/groff/*
path-exclude /usr/share/info/*
path-exclude /usr/share/java/*
path-exclude /usr/share/linda/*
path-exclude /usr/share/lintian/*
path-exclude /usr/share/locale/*
path-include /usr/share/locale/en*
path-exclude /usr/share/man/*
path-exclude /usr/share/zoneinfo/*
