# vim: ft=systemd
[Unit]
Description=SSHerlock runner process %i
After=network.target
PartOf=ssherlock_runners.target

[Service]
Type=simple
ExecStart={{ ssherlock_venv_path }}/bin/python3 {{ ssherlock_app_path }}/SSHerlock/ssherlock_runner/ssherlock_runner.py
WorkingDirectory={{ ssherlock_app_path }}/SSHerlock/ssherlock_runner
Restart=always
User={{ ssherlock_user }}
Group={{ ssherlock_user }}
# Ensure Python output is not buffered, making logs immediately visible.
# Keep track of the runner number to allow multiple runners to start.
Environment="PYTHONUNBUFFERED=1 RUNNER_NUMBER=%i"

# Number of seconds to wait to restart after crashing.
RestartSec=1

# https://www.freedesktop.org/software/systemd/man/latest/systemd.resource-control.html

# CPU
# Don't occupy more than X% of the total CPU time.
CPUAccounting=yes
CPUQuota=50%

# RAM
MemoryAccounting=yes
# Heavily throttle RAM after X% usage.
MemoryHigh=75%
# IP
IPAccounting=yes
# IO
IOAccounting=yes
# Threads
TasksAccounting=yes

[Install]
WantedBy=multi-user.target
