{% extends "home.html" %}
{% load static %}
{% block title %}Account{% endblock %}

{% block content %}
{% if success %}
{% endif %}
<div class="flex justify-center items-start min-h-screen" 
     {% if success %}data-success="{{ success }}"{% endif %} 
     {% if error %}data-error="{{ error }}"{% endif %}>
  <div class="m-5 p-5 border-4 border-gray-800 rounded-lg w-full max-w-xl bg-gray-800">
    <h2 class="text-2xl mb-4 text-white">Account Details</h2>
    <p class="text-white">Username: {{ user.username }}</p>
    <p class="text-white">Email: {{ user.email }}</p>

    <div class="mt-5 mb-5 border border-gray-500"></div>

    <form method="post" action="{% url 'update_email' %}" class="mt-4">
      {% csrf_token %}
      <div class="text-xl mb-2 text-white">Change Email</div>
      {% if email_error %}
        <p class="text-l text-red-500" style="white-space: pre-line;">{{ email_error }}</p>
      {% endif %}

      <div class="mb-4">
        <label for="new_email" class="block text-white">New Email:</label>
        <input type="email" id="new_email" name="new_email" class="w-full p-2 rounded bg-gray-700 text-white" required>
      </div>

      <button type="submit" class="bg-blue-500 hover:bg-blue-600 mt-2 p-2 rounded">Change Email</button>
    </form>

    <div class="mt-5 mb-5 border border-gray-500"></div>

    <!-- Add more account details as needed -->
    <form method="post" action="{% url 'reset_password' %}" class="mt-4">
      {% csrf_token %}
      <div class="text-xl mb-2 text-white">Change Password</div>
      {% if error %}
        <p class="text-l text-red-500" style="white-space: pre-line;">{{ error }}</p>
      {% endif %}

      <div class="mb-4">
        <label for="new_password" class="block text-white">New Password:</label>
        <input type="password" id="new_password" name="new_password" class="w-full p-2 rounded bg-gray-700 text-white" required>
      </div>

      <div class="mb-4">
        <label for="confirm_password" class="block text-white">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="w-full p-2 rounded bg-gray-700 text-white" required>
      </div>

      <button type="submit" class="bg-blue-500 hover:bg-blue-600 mt-2 p-2 rounded">Change Password</button>

      <div class="mt-5 mb-5 border border-gray-500"></div>

    </form>
    <div class="text-xl mb-2 text-white">Delete Account</div>
    <button onclick="showDeleteAccountPopup()" class="bg-red-500 hover:bg-red-600 mt-2 p-1.5 rounded">Delete Account</button>

    <!-- Confirmation Popup -->
    <div id="deleteAccountPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
      <div class="bg-gray-800 p-5 rounded-lg shadow-lg text-white">
        <p class="mb-4">Are you sure you want to delete your account? This action cannot be undone.</p>
        <div class="flex justify-end space-x-4">
          <button onclick="hideDeleteAccountPopup()" class="bg-gray-500 hover:bg-gray-600 p-1.5 rounded">Cancel</button>
          <form method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 hover:bg-red-600 p-1.5 rounded">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/account.js' %}"></script>
{% endblock %}
