<!doctype html>
{% load static %}
<html class="no-js dark" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - SSHerlock</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  {% comment %} <link rel="icon" href="/favicon.ico" sizes="any"> {% endcomment %}
  {% comment %} <link rel="icon" href="/icon.svg" type="image/svg+xml"> {% endcomment %}
  {% comment %} <link rel="apple-touch-icon" href="icon.png"> {% endcomment %}

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">

  {% comment %} JQuery framework {% endcomment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  {% comment %} Table manipulation and formatting {% endcomment %}
  <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />

</head>

<body class="bg-gray-900 text-white">

  {% block navbar %}
  {% endblock %}

  {% block content %}
  {% endblock %}

</body>
</html>
