<!doctype html>
{% load static %}
<html class="no-js dark" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - SSHerlock</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  {% comment %} <link rel="icon" href="/favicon.ico" sizes="any"> {% endcomment %}
  {% comment %} <link rel="icon" href="/icon.svg" type="image/svg+xml"> {% endcomment %}
  {% comment %} <link rel="apple-touch-icon" href="icon.png"> {% endcomment %}

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
</head>

<body class="bg-gray-900 text-white">
  <div aria-hidden="true" class="pointer-events-none fixed inset-0 -z-10 bg-gradient-to-b from-green-700/20 via-transparent to-transparent"></div>

  {% block navbar %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
  <script src="{% static 'scripts/navbar.js' %}"></script>

  {% block scripts %}
  {% endblock %}
</body>
</html>
