{% extends "home.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="flex justify-center items-start min-h-screen">
  <div class="m-5 p-5 border-4 border-gray-800 rounded-lg max-w-md bg-gray-800">
    <h2 class="text-2xl mb-4 text-white">Login</h2>
    <form method="post" action="{% url 'login' %}" class="space-y-4">
      {% if error_message %}
        <p class="text-red-500">{{ error_message }}</p>
      {% endif %}
      {% csrf_token %}
      <div class="flex flex-col space-y-2">
        <label for="username" class="text-white">Username:</label>
        <input type="text" name="username" id="username" required class="text-white bg-gray-700 p-2 border border-gray-600 rounded">
      </div>
      <div class="flex flex-col space-y-2">
        <label for="password" class="text-white">Password:</label>
        <input type="password" name="password" id="password" required class="text-white bg-gray-700 p-2 border border-gray-600 rounded">
      </div>
      <div class="flex justify-end space-x-4">
        <a href="{% url 'landing' %}" class="bg-gray-500 hover:bg-gray-600 mt-2 p-2 rounded">Cancel</a>
        <button type="submit" class="bg-green-500 hover:bg-green-600 mt-2 p-2 rounded">Login</button>
      </div>
    </form>
    <p class="text-white mt-4">Don't have an account? <a href="{% url 'signup' %}" class="text-blue-500 hover:underline">Sign up here</a>.</p>
  </div>
{% endblock %}
