{% extends "ssherlock_server/base.html" %}
{% block title %}Home{% endblock %}

{% block navbar %}
<div id="navbar">
  <div class="navbar-content">
    <ul>
      <a href="/" class="navbar-button">Landing</a>
      <a href="/home" class="navbar-button">Home</a>
      <a href="/credential" class="navbar-button">Credentials</a>
      <a href="/llm_api" class="navbar-button">LLM APIs</a>
      <a href="/bastion_host" class="navbar-button">Bastion Hosts</a>
      <a href="/target_host" class="navbar-button">Target Hosts</a>
      <a href="/job" class="navbar-button">Jobs</a>
      <a href="/sign_out" class="navbar-button-signout">Sign Out</a>
    </ul>
  </div>
</div>
{% endblock %}
